body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



.logo {
    font-size: 24px;
    font-weight: bold;
}

.cont-1{
     background-color: #ffffff;
    color: #000000;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.cont-2{
    background-color: rgb(245, 245, 245);
   
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 25px;
 }
.search-container {
     display: block;
    align-items: center;
    width: 100%;
    padding: 1px 20px;
    overflow: hidden;
}

.search-input {
   
    padding: 13px 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    
}

.search-input::placeholder{
    color: #000000;
    width: 100%;
    font-size: 16px;
   
} 
.hamburger{
    cursor: pointer;
}

.nav1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav1 li {
    margin-left: 20px;
}

.nav1 li a {
    color: #111111;
    text-decoration: none;
}

.nav2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav2 li {
    float: right;
}

.nav2 li a {
    color: #111111;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.leftsection{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    height: 100%;
}
.space{
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.pune{
    margin-left: 0px;
    max-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.user-actions {
    display: flex;
}

.user-actions button {
    color: rgb(255, 255, 255);
    background-color: rgb(248, 68, 100);
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    width: 67px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgb(248, 68, 100);
    display: block;
}

.hero {
    background: url('hero-image.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    height: 190px;
    padding: 50px 20px;
}


.movies {
    padding: 20px;
}

.movies h2 {
    margin-left: 130px;
    margin-bottom: 20px;
}

.movie-list {
    display: flex;
    justify-content: space-around;
}

.movie {
    text-align: center;
    
}

.movie img {
    width: 200px;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
}
.banner1{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: unset;
}
.banner {
  display: flex;
    color: #fff;
    padding-left: 80px;
    width: 100px;
   
}


footer {
    background-color: #2c2c2c;
    display: flex;
    flex-flow: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    opacity: 1;
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 15px;
    -webkit-box-align: center;
    align-items: center;
}

.contact{
    float: right;
    padding-left: 300px;
}
.contact button {
    flex: 0 0 auto;
    background-color: rgb(236, 94, 113);
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.paragrah{
    flex: 0 0 auto;
    margin: 0px 16px 0px 4px;
    font-weight: 600;
}
.paragrah2{
    flex: 1 1 0%;
}
